__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
build_venv/
.eggs/
*.egg
.env
data/
*.db
.venv/
.ruff_cache/
*.zip
*.spec
src/oraclegg/ui/static/img/champion/
src/oraclegg/ui/static/img/item/
firebase-debug.log
